extends layout

block content
  h1 #{category.name}

  p #[strong Description: ] #{category.desc}

  div(style='margin-left:20px;margin-top:20px')
    h4 Items in this category

    each item in items
      hr
      p #[strong Name: ]
        a(href=item.url) #{item.name}
      p #[strong Description: ] #{item.desc}
      p #[strong Price: ] #{item.price} Geo
      p #[strong Stock: ] #{item.number_in_stock}

    else
      p There are no item in this category.
