extends layout

block content
  h1= title
  p Welcome to #[strong Sly's Shop]! Sly sells many wares: from charms to adventuring gear at his shop in Dirtmouth for Geo but drives a hard bargain.

  //- if error
  //-   p Error getting dynamic content.
  //- else
  //-   p The shop has the following record counts:

  //-   ul
  //-     li #[strong Categories: ] !{data.category_count}
  //-     li #[strong Items: ] !{data.item_count}
  
  h4 Categories
  ul
    each category in categories
      li
        a(href=category.url) #{category.name}

    else
      li There are no categories.

  h4 Items
  ul
    each item in items
      li
        a(href=item.url) #{item.name}

    else
      li There are no items.
